.leaflet-container {
  height:100vh
}

.leaflet-popup-content-wrapper {
  background-color: #b18f74 !important;
  box-shadow: #b18f74 !important;
  transform: translateY(160px)
}

.leaflet-popup-tip {
  background: transparent !important;
}