.leaflet-popup-content-wrapper {
  background-color: transparent !important;
  box-shadow: none !important;
}

.leaflet-popup-tip {
  background: transparent !important;
  box-shadow: none !important;
}

.leaflet-container {
  height: 100vh;
}

.cluster-icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background: url('../img/vinylPink.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-25%, -25%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.5rem;
  color: white;
}

.error-message-visible {
  z-index: 2000;
  height: 200px;
  width: 400px;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  top: 5%;
  align-items: center;
  justify-content: space-around;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  font-family: 'Concert One', cursive;
  font-size: 1rem;
  border: 3.5px solid #000000;
  outline: 0px solid transparent;
  background: rgb(253 253 253 / 51%);
  box-shadow: 3px -2px black, 3px -1px black;
  .error-message-text {
    text-align: center;
  }
  button {
    width: 90px;
    height: 35px;
    border-radius: 5px;
    font-size: 1rem;
    border: 3.5px solid #000000;
    outline: 0px solid transparent;
    background: rgb(253 253 253 / 51%);
    box-shadow: 3px -2px black, 3px -1px black;
  }
}

.error-message-hidden {
  display: none;
}
