.leaflet-popup-content-wrapper {
  background-color: transparent !important;
  box-shadow: none !important;
}

.leaflet-popup-tip {
  background: transparent !important;
  box-shadow: none !important;
}

.leaflet-container {
  height: 200vh;
}

.cluster-icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background: url('../img/vinyl.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-25%, -25%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.5rem;
  color: white;
}

.error-message-visible {
  visibility: visible;
  align-self: center;
  z-index: 2000;
  height: 200px;
  width: 450px;
  border: 1px solid black;
  border-radius: 15px;
  position: relative;
  display: flex;
  margin: auto;
  top: 5%;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 40px;
  backdrop-filter: blur(2px);
  font-family: 'Concert One', cursive;
  font-size: 1rem;
  border: 3.5px solid #000000;
  outline: 0px solid transparent;
  background: rgb(253 253 253 / 65%);
  box-shadow: 3px -2px black, 3px -1px black;
}

.error-message-hidden {
  display: none;
}
