@font-face {
  font-family: 'concert one';
  src: url('./fonts/ConcertOne-Regular.ttf');
}
* {
  font-family: 'concert one';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
