// Exemple variable

// $ex-color: blue;

// @font-face {
//   font-family: "raleway-bold";
//   src: url(../fonts/raleway/Raleway-Bold.ttf);
// }

// $font4: "raleway-bold";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
