* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.container-card {
  width: 250px;
  min-height: 300px;
  height: 100%;
  perspective: 800px;
  margin: 50px;
}
.container-card .front-card,
.container-card .back-card {
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container-card .front-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.container-card .front-card .title-event {
  width: 80%;
  margin-top: 20px;
  text-align: center;
}
.container-card .back-card {
  height: auto;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  padding: 20px 0;
  overflow: hidden;
}

.container-card:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card {
  border-radius: 10px;
  height: auto;
  min-height: 300px;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
  z-index: 0;
  text-overflow: ellipsis;
  background: linear-gradient(155deg, transparent 0%, rgba(134, 75, 4, 0.5) 20%, rgba(175, 119, 73, 0.35) 70%, transparent 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card ::after {
  content: "";
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(155deg, #864b04 0%, #af7749 80%);
  opacity: 50%;
  -webkit-mask: linear-gradient(to left, transparent calc(100% - 10px), #fff calc(100% - 3px + 1px)), linear-gradient(to right, transparent calc(100% - 10px), #fff calc(100% - 3px + 1px)), linear-gradient(to bottom, transparent calc(100% - 10px), #fff calc(100% - 3px + 1px)), linear-gradient(to top, transparent calc(100% - 10px), #fff calc(100% - 3px + 1px));
          mask: linear-gradient(to left, transparent calc(100% - 10px), #fff calc(100% - 3px + 1px)), linear-gradient(to right, transparent calc(100% - 10px), #fff calc(100% - 3px + 1px)), linear-gradient(to bottom, transparent calc(100% - 10px), #fff calc(100% - 3px + 1px)), linear-gradient(to top, transparent calc(100% - 10px), #fff calc(100% - 3px + 1px));
  background-color: border-box;
  background-clip: content-box;
}

.search-buttons-container {
  position: fixed;
  top: 0;
  z-index: 800;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.search-box {
  width: 350px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  margin: 20px;
  z-index: 950;
}
.search-box .search-bar {
  padding-left: 70px;
  padding-right: 40px;
}
.search-box .validate {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  right: 2%;
  background: transparent;
  border: none;
  z-index: 999;
}
.search-box .vinyl-button {
  z-index: 1000;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  right: 2%;
  background: transparent;
  border: none;
}
.search-box .vinyl-button::after {
  position: absolute;
  top: 15%;
  left: 0;
  content: "?";
  color: whitesmoke;
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
}
.search-box .vinyl-button img {
  width: 100%;
  position: relative;
  right: 2%;
  top: 0;
}
.search-box .open-button {
  animation: open-vinyl 1s ease-out;
  animation-fill-mode: forwards;
}
.search-box .close-button {
  animation: close-vinyl 1s ease-out;
  animation-fill-mode: forwards;
}
.search-box .search-bar {
  height: 120%;
  border-radius: 50px;
  border: 4.5px solid #b18f74;
  background: rgba(177, 143, 116, 0.6509803922);
  outline: 1px solid transparent;
}
.search-box .open {
  animation: open-search 1s ease-out;
  animation-fill-mode: forwards;
}
.search-box .close {
  width: 50px;
  opacity: 0;
  animation: close-search 1s ease-out;
  animation-fill-mode: forwards;
}

@keyframes open-search {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
@keyframes close-search {
  0% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes open-vinyl {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-280px);
  }
}
@keyframes close-vinyl {
  0% {
    transform: translateX(-280px);
  }
  100% {
    transform: translateX(0px);
  }
}
.proposal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.proposal-container .open-proposal {
  display: inline-block;
  z-index: 3;
  width: 300px;
  height: 50px;
  border-radius: 50px;
  border: 4.5px solid #b18f74;
  background: rgb(177, 143, 116);
}
.proposal-container .proposal-buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: 1s ease-in-out;
}
.proposal-container .proposal-buttons .proposal-button {
  width: 200px;
  height: 40px;
  margin: 10px;
  border-radius: 50px;
  border: 4.5px solid #b18f74;
  background: rgb(177, 143, 116);
}
.proposal-container .hide {
  opacity: 0;
  transform: translateY(0px);
}
.proposal-container .visible {
  transform: translateY(100px);
  opacity: 1;
<<<<<<< HEAD
}/*# sourceMappingURL=index.css.map */
=======
}
.card-section {
  background-color: #b18f74;
} /*# sourceMappingURL=index.css.map */

.leaflet-container {
  height: 200vh;
}

.cluster-icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background: url('../img/vinyl.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-25%, -25%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.5rem;
  color: white;
}
>>>>>>> dev
